@*@{
    Layout = '~/_Layout.cshtml';
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cars</title>
</head>
<body>
    <div>
        Cars
    </div>
</body>
</html>
